<div class="meni">
  <div class="linkovi">
    <a routerLink="/profil" target='mojfrejm'>Profil</a> |
    <a routerLink="/restorani" target='mojfrejm'>Restorani</a> |
    <a routerLink="/rezervacije" target='mojfrejm'>Rezervacije</a> |
    <a routerLink="/dostava" target='mojfrejm'>Dostava hrane</a>
  </div>

  <span class="logout">
    <app-logout></app-logout>
  </span>
</div>
<div class="container-fluid">
  <iframe id="mojfrejm" name='mojfrejm' width='100%' src="/profil"></iframe>
</div>
<footer>
  <p>&copy; 2024 Sva prava zadržana.</p>
</footer>

