<div class="meni">
  <div class="linkovi">
    <a routerLink="/profilKonobar" target='mojfrejm'>Profil</a> |
    <a routerLink="/rezervacijeKonobar" target='mojfrejm'>Rezervacije</a> |
    <a routerLink="/dostaveKonobar" target='mojfrejm'>Dostava hrane</a> |
    <a routerLink="/statistika" target='mojfrejm'>Statistika</a>
  </div>
  <span class="logout">
    <app-logout></app-logout>
  </span>
</div>
<div class="container-fluid">
  <iframe id="mojfrejm" name='mojfrejm' width='100%' src="/profilKonobar"></iframe>
</div>
<footer>
  <p>&copy; 2024 Sva prava zadržana.</p>
</footer>
