<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <h3>Neobrađene rezervacije:</h3>
      <table class="table"  *ngIf="rezervacije.length>0; else nemaNeobradjenih">
        <tr>
          <th>Datum</th>
          <th>Naziv restorana</th>
          <th>Broj</th>
          <th>Ime i prezime</th>
        </tr>
        <tr *ngFor='let r of rezervacije'>
          <td>{{r.datum_vreme | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{r.naziv}}</td>
          <td>{{r.brOsoba}}</td>
          <td>{{r.ime}} {{r.prezime}}</td>
          <td><select name="sto" [(ngModel)]='sto'>
            <option value="{{s.id}}" *ngFor='let s of r.stolovi'>{{s.id}}</option>
          </select></td>
          <td><button (click)="prihvati(r)">Prihvati</button></td>
          <td>Komentar uz odbijanje: <textarea [(ngModel)]="komentar"></textarea></td>
          <td><button (click)="odbij(r)">Odbij</button></td>
        </tr>
      </table>
      <br>
      <canvas id="myCanvas"></canvas><br>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <h3>Moje rezervacije:</h3>
      <table class="table" *ngIf="mojeRezervacije.length>0; else nemaMojih">
        <tr>
          <th>Datum</th>
          <th>Naziv restorana</th>
          <th>Broj</th>
          <th>Ime i prezime</th>
          <th>Sto</th>
          <th colspan="2">Pojavili?</th>
        </tr>
        <tr *ngFor='let r of mojeRezervacije'>
          <td>{{r.datum_vreme | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{r.naziv}}</td>
          <td>{{r.brOsoba}}</td>
          <td>{{r.ime}} {{r.prezime}}</td>
          <td>{{r.sto}}</td>
          <td [hidden]="r.pojavili==''" colspan="2">{{r.pojavili}}</td>
          <td [hidden]="r.pojavili!=''"><button (click)="pojavili(r)">Pojavili</button></td>
          <td [hidden]="r.pojavili!=''"><button (click)="nisuPojavili(r)">Nisu se pojavili</button></td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</div>







<ng-template #nemaNeobradjenih>
  Trenutno nemate neobradjenih rezervacija.
</ng-template>

<ng-template #nemaMojih>
  Trenutno nemate rezervacije koje su vase zaduzenje.
</ng-template>
