<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Broj gostiju po danima za konobara {{ulogovan.ime}} {{ulogovan.prezime}}</h3>
      <canvas id="myCanvas"></canvas>
    </div>
    <div class="col-sm-4">
      <h3>Raspodela gostiju po konobarima za restoran {{ulogovan.restoran}}</h3>
      <canvas id="myCanvas2"></canvas>
    </div>
    <div class="col-sm-4">
      <h3>Prosečan broj rezervacija po danu u protekle 2 godine {{ulogovan.restoran}}</h3>
      <canvas id="myCanvas3"></canvas>
    </div>
  </div>
</div>





